/*For menu on the top*/

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #4e3c3e;
	outline: 0;
}

a:hover,
a:focus {
	outline: 0;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.info {
	font-size: 0.85em;
	font-weight: bold;
	line-height: 36px;
	margin: 5em 0 0;
	color: #9c9898;
}

@-webkit-keyframes pulse {
	from {
		opacity: 1;
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}

	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

}

@keyframes pulse {
	from {
		opacity: 1;
		-webkit-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}

	to {
		opacity: 0;
		transform: scale3d(1, 1, 1);
		webkit-transform: scale3d(1, 1, 1);
	}

}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}

}

/* Content */

.section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.section:nth-of-type(odd):not(:first-child) {
	color: #fff;
}

.section--menu {
	position: relative;
	margin-top: -43px;
	overflow: hidden;
}

.break {
	padding: 3em 0;
	text-align: center;
	background: #d94f5c;
}

.section__title {
	font-size: 0.65em;
	font-weight: 700;
	-webkit-flex: none;
	flex: none;
	margin: 3em 0 15em;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #d1d1d1;
}

.break__title {
	font-size: 1.85em;
	font-weight: normal;
	margin: 0;
	color: #fff;
}

.section--intro {
	font-size: 2em;
	position: relative;
	min-height: 100vh;
	text-align: center;
	color: #fff;
}

.section--intro p {
	max-width: 1000px;
	margin: 0 auto;
	padding: 1em;
}